<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="dot {{getCssClassFromItemRarity(item.rarity)}}"></div> {{item.name}}
        </mat-panel-title>
        <mat-panel-description *ngIf="description; else amountDescription">
            {{description}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <p>Name: {{item.name}}</p>
    <p>Amount: {{item.amount}}</p>
    <p>Durability: {{item.durability}}%</p>
    <p>Id: {{item.id}}</p>
    <p *ngIf="item.weaponAttachments">Ammo: {{item.weaponAttachments.currentAmmo}}</p>

    <mat-expansion-panel *ngIf="weaponAttachments && weaponAttachments.length > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Attachments
            </mat-panel-title>

            <mat-panel-title>
                {{weaponAttachments.length}} items
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-player-inventory 
            [items]="weaponAttachments"
            [userCanModerate]="userCanModerate"
            [canAddItems]="false"
            (onItemDestroy)="destroyItem($event)"
        ></app-player-inventory>
    </mat-expansion-panel>

    <button 
        *ngIf="userCanModerate"
        mat-raised-button 
        color="warn" 
        (click)="destroyItem(item)"
    >Remove</button>
</mat-expansion-panel>

<ng-template #amountDescription>
    <mat-panel-description *ngIf="item.amount > 1">
        X{{item.amount}}
    </mat-panel-description>
</ng-template>