<mat-accordion *ngIf="items.length > 0">
    <ng-container *ngFor="let item of items; trackBy: trackItem">
        <app-item 
            [item]="item"
            [userCanModerate]="userCanModerate"
            (onDestroy)="emitItemDestroy($event)"
            ></app-item>
    </ng-container>

    <!-- TODO: Separate responsibilities and let caller handle adding items -->
    <button *ngIf="userCanModerate && canAddItems"
        class="add-item"
        mat-raised-button
        color="primary"
     >Add item</button>
</mat-accordion>