<div *ngIf="loggedIn; else notLoggedIn">
    <h1>Hello!</h1>
    <div>
        <app-server-details [serverInfo]="serverInfo" [totalPlayers]="players?.length ?? 0"></app-server-details>
        <app-players-display [players]="players"></app-players-display>
    </div>
</div>

<ng-template #notLoggedIn>
    <div class="flex-center">
        <h1>Please connect to a Monocle server.</h1>
        <app-login-component (onSubmit)="connectAndLogin($event)"></app-login-component>
    </div>
</ng-template>