.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}