<div *ngIf="loggedIn; else notLoggedIn">
    <h1>Hello!</h1>
    <div>
        <div *ngFor="let player of players; trackBy: trackPlayer">
            <h1>{{player.name}}</h1>
        </div>
    </div>
    <button mat-button (click)="getPlayers()">Get current players</button>
</div>

<ng-template #notLoggedIn>
    <div class="flex-center">
        <h1>Please connect to a Monocle server.</h1>
        <app-login-component (onSubmit)="connectAndLogin($event)"></app-login-component>
    </div>
</ng-template>