<mat-card>
    <mat-card-title>Players</mat-card-title>

    <ng-container *ngIf="players; else loading">
        <ng-container *ngIf="players.length > 0; else noPlayers">
            <mat-action-list *ngFor="let player of players; trackBy: trackPlayer">
                <button mat-list-item (click)="playerSelected(player)">{{player.name}}</button>
            </mat-action-list>
        </ng-container>
    </ng-container>
</mat-card>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>

<ng-template #noPlayers>
    <p>There are no players in the server.</p>
</ng-template>